 #companyName{
				text-align:center ; 
				padding:30px ; 
				 
			}
			
#generalSearchOption{
				text-align:center ; 
				padding-top:100px ; 
				
			}
			
#jobPostingFormSubmitButton{
						width:100px ; 
						margin-top:20px ;						 
						}
						
						#jobPostingForm{
							text-align:center ; 
							padding-top:100px ; 	
						}
						#jobPostingFormPair{
							margin:25px ; 
						}
						
					.jobPostInput{
					width: 400px;
 					border-top:none ; 
					border-left:none ; 
					border-right:none ; 
					border-bottom-color:black ; 
					margin-top: 20px;
					margin-left:30px ; 
					}
					
					#jobDescription{
					width: 424px;
					height: 200px;
					 border-top:black ; 
					}
					
					
					#profileOfJobSeekerForm{
						 padding:100px ; 
 					}
					
					#submitButton{
						background-color:FFFFFF ; 
						    width: 101px; 
					}
					
					#jobSeekerProfile{
						align:center ; 
					}
					
					
					
					
<!-- Job Banner -->
.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
					 