#footer-information{ 
	width:1200px ; 
	padding:100px ; 	
 }
 
 ul.footer-information{
 list-style:none ; 
 }
 
 #first-section{
	width:250px ; 
	float:left ; 
 }
 
 #second-section{
	width:250px ; 
	float:left ; 
 }
 
 #third-section{
	width:250px ; 
	float:left ; 
 }
 
 #fourth-section{
	width:250px ; 
	float:left ; 
 }
 