			#signInEmail{
				text-align:center ; 
				padding-top:10px ; 						
			}
				#signInEmailMail{				
					width: 400px;
 					border-top:none ; 
					border-left:none ; 
					border-right:none ; 
					border-bottom-color:black ; 
					margin-top: 50px;
					margin-left:29px ; 
				}			
				#signInEmailPassword{					
					width: 400px;
 					border-top:none ; 
					border-left:none ; 
					border-right:none ; 
					border-bottom-color:black ; 
					margin-top: 20px;
				}
				
				#signInEmailSubmitButton{
					width:100px ; 
					margin-top:20px ;
					 
					}
