<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ORMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- mapping the job- post with its controller  -->
  <servlet> 
  <servlet-name>PostJob</servlet-name>
  <servlet-class>recruiterServlet.RecruiterController</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>PostJob</servlet-name>
  <url-pattern>/PostJob</url-pattern>
  </servlet-mapping>
  
</web-app>